.root {
  width: 100%;
  background: white;
  display: block;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  text-align: left;
  border-bottom: var(--border-sm);
  box-shadow: var(--box-shadow);
}
