.list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  text-align: left;
}

.list form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listTitle {
  text-align: left;
  margin-bottom: 1rem;
}

.listTitle h2 {
  margin: 0;
  cursor: pointer;
}

.editIcon {
  margin-left: 0.25rem;
  color: var(--action-color);
}

.listTitle h2:hover,
.listTitle h2:focus {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.listTitle input[type="text"] {
  font-size: 1.25rem;
}

.listItems {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
  gap: 0.5rem;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.listItem {
  --checkbox-size: 1.5rem;

  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0;
  padding: 0;
}

.listItem label {
  display: flex;
  gap: 1rem;
  padding: 0.25rem 0;
  cursor: pointer;
  text-align: left;
}

.listItem:hover .deleteItem,
.listItem:focus-within .deleteItem,
.listItem:hover .editItem,
.listItem:focus-within .editItem {
  visibility: visible;
}

.listItem .checkboxContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.labelText {
  display: flex;
}

.deleteItem {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--action-color);
  cursor: pointer;
}

.editItem {
  visibility: hidden;
  padding: 0 0.25rem;
  color: var(--action-color);
  cursor: pointer;
}

.listItem input[type="checkbox"] {
  cursor: pointer;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  appearance: none;
  margin: 0;
  padding: 0;
  border: 1px solid var(--checkbox-border-color);
  border-radius: var(--corners, 2rem);
}

.listItem input + .checkmark {
  position: absolute;
  inset: 0;
  margin: auto;
  width: calc(var(--checkbox-size));
  height: calc(var(--checkbox-size));
  background-color: var(--checkbox-color);
  border-radius: var(--corners, 2rem);
  transition: opacity 150ms;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-color);
}

.listItem input + .checkmark svg {
  margin-top: 1px;
}

.listItem input:checked + .checkmark {
  opacity: 1;
}

.listItem input:not(:checked) + .checkmark {
  opacity: 0;
}

.addItem {
  position: sticky;
  bottom: 1.25rem;
  width: 100%;
  margin-top: 1rem;
}

.addItemInput[type="text"] {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .list form {
    width: 100%;
  }

  .addItem button,
  .addItem input {
    width: 100%;
  }
}
