.header {
  display: flex;
  align-items: flex-start;
  width: 100%;
  font-weight: bold;
  border-bottom: var(--border-sm);
}

.header h1 {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-left: 1.25rem;
}
