.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  border-bottom: var(--border-sm);
  padding: 0 1rem;
  box-sizing: border-box;
  min-height: 52px;
  background-color: var(--background-color-secondary);
  box-shadow: var(--box-shadow);
}

.header h1 {
  font-size: 1.25rem;
  margin: 0;
}

.header a {
  font-weight: bold;
}

.header a:hover,
.header a:focus {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.themeToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--action-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0.25rem;
}

.listBreadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(20%);
  transition:
    opacity var(--transition),
    transform var(--transition);
}

.listBreadcrumb.loaded {
  opacity: 1;
  transform: translateY(0);
}

.listBreadcrumb svg {
  margin-left: 0.25rem;
  padding-top: 2px;
}

.listBreadcrumbTitle {
  font-weight: bold;
  font-size: 1.25rem;
}
