.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 0.875rem;
  /* font-weight: bold; */
  border-top: var(--border-sm);
  padding: 0.75rem 0;
  box-sizing: border-box;
  background-color: var(--background-color-secondary);
  box-shadow: var(--box-shadow);
}

.root div {
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.root span {
  margin: 0 0.25rem;
  display: block;
}
