.space {
  padding: 0;
  display: grid;
  grid-template-columns: 20rem 1fr;
}

.lists {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  /* padding: 1rem 0; */
  max-width: 20rem;
  border-right: var(--border-sm);
  min-height: calc(100dvh - 3rem);

  --corners: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  border-bottom: var(--border-sm);
}

.list a {
  width: 100%;
  height: 100%;
  padding: 1rem;
  flex: 1;
  text-align: left;
  box-sizing: border-box;
}

.list a:hover,
.list a:focus {
  background-color: rgba(255, 255, 255, 0.05);
  outline: none;
}

.list h2 {
  margin: 0;
}

.main {
  flex: 1;
  padding: 1.75rem;
}

.addList {
  margin: 1rem;
  width: calc(100% - 2rem);
}
