.space {
  padding: 0;
  display: grid;
  grid-template-columns: 20rem 1fr;
}

.space > aside {
  padding-top: 1.25rem;
  background-color: var(--background-color-secondary);
}

.space > aside > *,
.space > .main {
  opacity: 0;
  transform: translateY(4%);
  transition:
    opacity,
    transform 0.5s cubic-bezier(0, 0.02, 0.23, 0.99);
}

.space.loaded > aside > *,
.space.loaded > .main {
  opacity: 1;
  transform: none;
}

.lists {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  /* padding: 1rem 0; */
  max-width: 20rem;
  border-right: var(--border-sm);
  min-height: calc(100dvh - 3rem);
  padding: 0.8rem 0;
  gap: 0.75rem;

  --corners: 6px;
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0 1rem;
  border-radius: var(--corners);
  border: var(--border-sm-faint);
  box-shadow: var(--box-shadow);
}

.activeList {
  background-color: var(--active-indicator);
}

.listMenu {
  position: absolute;
  right: 0.5rem;
}

.list a {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  padding: 0.75rem 3.5rem 0.75rem 1rem;
  flex: 1;
  text-align: left;
  box-sizing: border-box;
  border-radius: var(--corners);
}

.list a:hover,
.list a:focus {
  background-color: var(--active-indicator);
  outline: none;
}

.list h2 {
  margin: 0;
}

.main {
  flex: 1;
  padding: 1.75rem;
}

.addList {
  margin: 1rem;
  width: calc(100% - 2rem);
}
