:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --base-font-size: 16px;

  --white: #f0f0f0;

  --primary-text-color: var(--white);
  --secondary-text-color: rgba(255, 255, 255, 0.7);

  --border-color: rgba(255, 255, 255, 0.1);
  --border-color-faint: rgba(255, 255, 255, 0.05);

  --border-sm: 1px solid var(--border-color);
  --border-md: 2px solid var(--border-color);

  --border-sm-faint: 1px solid var(--border-color-faint);
  --border-md-faint: 2px solid var(--border-color-faint);

  --action-color: #fa4f4f;
  --action-color-hover: #2b31a0;
  --action-border-color-hover: #2e34ad82;
  --action-color-secondary: #646cff;

  --checkbox-border-color: rgba(255, 255, 255, 0.6);
  --checkbox-color: var(--action-color-secondary);

  --button-color: var(--action-color);
  --button-color-hover: var(--action-color-hover);
  --button-border-color-hover: var(--action-border-color-hover);
  --button-text-hover-color: var(--primary-text-color);

  --active-indicator: rgba(100, 108, 255, 0.1);

  --background-color: #141413;
  --background-color-secondary: #0f0f0e;

  --box-shadow: 0 13px 8px -8px rgba(0, 0, 0, 0.05);

  --header-height: 3.25rem;

  --transition: 0.5s cubic-bezier(0, 0.02, 0.23, 0.99);

  color: var(--primary-text-color);
}

:root[data-theme="light"] {
  --border-color: rgba(0, 0, 0, 0.1);
  --action-color: #fa4f4f;
  --action-color-hover: #535bf2;
  --active-indicator: rgba(100, 113, 255, 0.249);
  --action-color-secondary: #646cff;
  --background-color: #f0eee6;
  --background-color-secondary: #ffffff;
  --box-shadow: 0 13px 8px -8px rgba(0, 0, 0, 0.05);
  --border-color-faint: rgba(0, 0, 0, 0.062);
  --primary-text-color: #1c1c1c;
  --button-text-hover-color: var(--white);
  --checkbox-border-color: rgba(0, 0, 0, 0.6);
  --secondary-text-color: rgba(0, 0, 0, 0.652);

  color: var(--primary-text-color);
}

a {
  font-weight: 500;
  color: var(--action-color);
  text-decoration: inherit;
}

body {
  background-color: var(--background-color);
  margin: 0;
  display: flex;
  font-size: var(--base-font-size);
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

.h2,
h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--primary-text-color);
}

input[type="checkbox"] {
  font-size: var(--base-font-size);
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  background-color: var(--background-color-secondary);
  color: var(--primary-text-color);
}

input[type="text"] {
  font-size: var(--base-font-size);
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  background-color: var(--background-color-secondary);
  color: var(--primary-text-color);
}

a:focus-within,
button:focus-within,
input[type="text"]:focus-within,
input[type="checkbox"]:focus-within {
  outline: 2px solid var(--action-color-secondary);
  outline-offset: 0.25rem;
}
